/* Importing Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish&family=Nunito&family=Nunito+Sans:wght@400;600&family=Poppins:ital,wght@0,400;0,500;1,300;1,400&family=Questrial&family=Raleway&display=swap");

:root {
  --primary-color: #4141a5;
  --secondary-color: #ffaf2e;
  --white-color: #fff;
  --transition: all 0.3s ease-in-out;
  --text-color: #5b595f;
  --very-light-blue: #f5f5fa;
}

/* General styles */
* {
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

*::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}

*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-thumb {
  background-color: #c3cfe1;
  border-radius: 0.5rem;
}

body {
  font-family: "Questrial", sans-serif;
  background-color: #fafcff;
  color: var(--text-color);
}

section,
footer {
  padding: 0 9%;
  padding-top: 5rem;
}

.btn,
a {
  font-size: var(--font-13);
}

.btn {
  border-radius: 0.8rem;
  text-transform: capitalize;
}

.custom-btn {
  background: var(--primary-color);
  color: var(--white-color);
  transition: var(--transition);
  box-shadow: 2px 2px 30px #4141a583;
}

.custom-btn:hover {
  background-color: #2e2e7a;
}

h1 {
  text-transform: capitalize;
  color: #14033a;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
  position: relative;
  transition: var(--transition);
}

a:hover {
  color: var(--primary-color);
}

p {
  line-height: 1.5rem;
}

.border-bottom-light {
  border-bottom: 1px solid rgba(33, 124, 244, 0.2);
}

.border-light {
  border: 1px solid rgba(33, 124, 244, 0.2);
}

.card-bg {
  background-color: var(--very-light-blue);
}

.justify-end {
  justify-content: end;
}

.back-to-top-btn {
  background-color: #14033a;
}

/* ------------------------------------CUSTOM STYLES------------------------------------------- */
.loader-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 4rem;
  height: 4rem;
  border: 3px solid var(--primary-color);
  border-block-start-color: transparent;
  border-radius: 50%;
  animation: rotate 1s ease-in-out infinite;
}

.fa-chevron-right::before {
  display: grid;
  place-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #6060a5;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

/* ------------------------------------Hero------------------------------------------------ */
section.hero .btn,
section.about .btn {
  width: 150px;
}

/* ------------------------------------Why Choose Us------------------------------------------------ */
section.why-choose-us {
  background: url("../images/path.png");
  background-repeat: no-repeat;
  background-position: 10rem 5rem;
}

/* ------------------------------------Showcase------------------------------------------------ */
section.showcase img:hover,
section.team .img:hover img {
  transform: scale(1.3);
}

.swiper-pagination-bullet {
  background-color: #fff !important;
  width: 0.8rem !important;
  height: 0.8rem !important;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.8);
}

/* -----------------------------------Footer------------------------------------------------ */
footer a:hover {
  color: #c3cfe1;
  margin-left: 0.3rem;
}
/* Media Queries */

@media screen and (max-width: 1024px) {
  .navbar ul.navbar-menu li.nav-item a.nav-link {
    padding: 0.3rem 0.6rem;
  }

  section.personal-projects .counter {
    margin-top: -4rem !important;
  }
}

@media screen and (max-width: 768px) {
  section,
  footer {
    padding: 0 4%;
    padding-top: 5rem;
  }

  section.personal-projects .counter {
    margin-top: 0rem !important;
    justify-content: center;
  }

  section.personal-projects .counter .flex-container {
    padding: 1rem;
  }
}

@media screen and (max-width: 640px) {
  section:not(section.features, section.snippets) {
    text-align: center;
  }

  .btn:not(.btn-primary-outlined) {
    margin: 1rem auto;
  }

  .team {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .snippet1 {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}
